<h2>dep</h2>

<div id="artist">
  <meta property="og:title" content="dep" />
  <meta property="og:site_name" content="dep" />
  <span itemprop="name" style="display:none">dep</span>
  <meta property="og:type" content="band" />
  <meta property="og:image" content="http://symmetricalrecords.com/images/artists/dep.png">
  <img itemprop="image" src="http://symmetricalrecords.com/images/artists/dep.png" style="display:none">
  <meta property="og:description" content='dep is the solo project of "bedroom producer" Danny Peck. His compositions are a hybrid somehwere between film score and electronica -- with digital/analogue sounds, lush instrumentations and field recordings wrapped up in to melodic explorations in electronica.'>
  <span itemprop="description" style="display:none">dep is the solo project of "bedroom producer" Danny Peck. His compositions are a hybrid somehwere between film score and electronica -- with digital/analogue sounds, lush instrumentations and field recordings wrapped up in to melodic explorations in electronica.</span>
  <meta property="og:locality" content="Asheville"/>
  <meta property="og:region" content="NC"/>
  <meta property="og:postal-code" content="28801"/>
  <meta property="og:country-name" content="USA"/>
  <meta property="og:email" content="dep@dep.fm"/>

  <img width="300" height="200" src="/images/artists/dep.png" class="artist_pic" />

  <h1>Epic Film Score Meets Electronica</h1>

  <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:4GHQXHeP0lwH5q66rpWSGh&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>

  <p>dep is the solo project of "bedroom producer" Danny Peck. His compositions are a hybrid somehwere between film score and electronica -- with digital/analogue sounds, lush instrumentations and field recordings wrapped up in to melodic explorations in electronica.</p>
  <p>Danny Peck has been releasing music under the alias "dep" since roughly 2005, but has maintained a keen interest in song-writing and recording since 1994.</p>
  <p>Visit <a href="http://dep.fm">his official homepage</a> for free downloads of full albums, news, shows and more.</p>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#appId=254556031250129&xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <a href="http://twitter.com/dep_fm" class="twitter-follow-button">Follow @dep_fm</a><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  <div class="fb-like" data-href="https://www.facebook.com/depmusic" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  <p><strong>Available on:</strong></p>
  <p class="social_links">
  <a class="bandcamp" href="http://depmusic.bandcamp.com/">Bandcamp</a>
  <a class="itunes" href="https://itunes.apple.com/us/artist/dep/id327608540">iTunes</a>
  <a class="spotify" href="http://open.spotify.com/user/justdep/playlist/4dggwxbooucIY2hBp4wSQu">Spotify</a>
  <a href="http://facebook.com/depmusic" class="facebook_icon">Facebook</a>
  <a class="soundcloud" href="http://soundcloud.com/dep" class="facebook_icon">Soundcloud</a>
  <br clear="all">
  <p><strong>Start listening now:</strong></p>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/82972084"></iframe>
  </p>
</div>

