<h2>Lucho Ripley</h2>

<div id="artist">
    <meta property="og:title" content="Lucho Ripley" />
    <meta property="og:site_name" content="Lucho Ripley" />
    <span itemprop="name" style="display:none">Lucho Ripley</span>
    <meta property="og:type" content="band" />
    <meta property="og:image" content="http://symmetricalrecords.com/images/artists/lucho.jpg">
    <img itemprop="image" src="http://symmetricalrecords.com/images/artists/lucho.jpg" style="display:none">
    <meta property="og:description" content="">
    <span itemprop="description" style="display:none"></span>
    <meta property="og:locality" content="Spain"/>

    <img width="300" height="200" src="/images/artists/lucho.jpg" class="artist_pic"/>

    <h1>Acoustic/Instrumental Ambient</h1>

    <!--iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:7lt4cMS1UiGUfe9pQNoWx8&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe-->
    <p>
        From Spain is Lucho Ripley. Sit back and relax as Lucho's intricately layered guitar washed over you.
        His melodic soundscapes are varied and lush, packed with thoughtful chord progressions and gorgeous
        reverb tails.  For us, his music inspires visions of vast landscapes, and we're consistently in awe
        as his songs evolve, gaining more and more layers and complexity.
    </p>
    <p>
        Whether your driving down a windy mountain road or sitting in front of the ocean, Lucho's music seems
        to fit there perfectly. He is certainly a gem to behold.
    </p>
    <div class="callout">
      <h3>Megablast is now available</h3>
      <p>On April 20th, Lucho Ripley released the spell-bindingly fantastic <strong>Megablast</strong>.</p>
      <p>Listen below:</p>
      <ul>
        <li><a href="https://itunes.apple.com/us/album/megablast/id853902629">iTunes</a></li>
        <li><a href="http://www.amazon.com/Megablast-Lucho-Ripley/dp/B00JGHLOI0">Amazon MP3</a></li>
        <li><a href="https://play.google.com/store/music/album/Lucho_Ripley_Megablast?id=Bevmwu55vtxwxrzp55nvsyuugzq">Google Play</a></li>
        <li><a href="https://play.spotify.com/album/6p55Aym7PTi3JzMgtzp8FJ">Spotify</a></li>
        <li><a href="http://www.rdio.com/artist/Lucho_Ripley/album/Megablast/">Rdio</a></li>
      </ul>
      <p><strong>Some additional notes about Megablast:</strong></p>
      <p>Written, recorded and produced by Lucho Ripley</p>
      <p>Mastered By Aaron Hansen</p>
    </div>

    <div style="display:none">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#appId=254556031250129&xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like" data-href="https://www.facebook.com/luchoofficialpage" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      <div class="fb-like" data-href="https://www.facebook.com/luchoofficialpage" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
    <a href="http://twitter.com/lucho" class="twitter-follow-button">Follow @lucho</a><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <p><strong>Available on:</strong></p>
    <p class="social_links">
    <!--a class="itunes" href="https://itunes.apple.com/us/artist/da-pacem/id430421366">iTunes</a-->
    <a class="soundcloud" href="http://soundcloud.com/lucho-ripley">Soundcloud</a>
    <a class="facebook_icon" href="https://www.facebook.com/lucho.ripley">Facebook</a>
    <!--a class="bandcamp" href="http://lucho.bandcamp.com">Bandcamp</a-->
    <!--a class="spotify" href="http://open.spotify.com/artist/7lt4cMS1UiGUfe9pQNoWx8">Spotify</a-->
    <br clear="all">
    <p><strong>Start listening now:</strong></p>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129990311&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
    </p>
</div>
