<div id="footer">
  <p><strong>symmetricalrecords.com</strong> is a production of <a href="http://pecknology.net">pecknology, llc</a>: &copy; 2011.  All rights reserved.</p>
  <a href="https://twitter.com/symmetricalrecs" class="twitter-follow-button" data-show-count="false">Follow @symmetricalrecs</a>
  <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>
