<h1><a href="/">symmetrical records</a></h1>
<blockquote>"In nature, all is useful, all is beautiful. It is therefore beautiful, because it is alive, moving, reproductive; it is therefore useful, because it is symmetrical and fair.... Beauty will come, as always, unannounced, and spring up between the feet of brave and earnest men." -Ralph Waldo Emerson</blockquote>
<ul class="main_navigation">
  <li class="<%= check_active "about", request.fullpath %>"><a href="/pages/about">About</a></li>
  <li class="<%= check_active "artists", request.fullpath %>"><a href="/pages/artists">Artists</a></li>
  <li class="<%= check_active "artists", request.fullpath %>"><a href="/pages/faq">FAQ</a></li>
  <li class="<%= check_active "contact", request.fullpath %>"><a href="/pages/contact">Contact us</a></li>
</ul>
