<h2>About Symmetrical Records</h2>
<div class="left">
  <p><strong>Symmetrical Records</strong> is a collective of passionate musicians, sound engineers, and producers based deep within the heart of the Appalachian Mountains.</p>
  <%= image_tag "/images/mountains.png" %>
  <p>The goal of Symmetrical Records is to find and distribute music from largely unknown but wildly talented musicians and producers everywhere. We aim to do this with the utmost sincerety, devoid of any form of pretention, and with a first and foremost emphasis on spreading good music.</p>
  <p>What does this mean for people interested in distributing their music with Symmetrical Records?  If we believe in what you do, we'll do whatever we can to help push your music to new ears and audiences. We won't take away any of your own rights as a creator of art. If you want to distribute your music elsewhere also, then that is fine with us. Think of us as a good friend of yours that likes your music so much we're willing to carry the flag for you.</p>
  <p>In other words, once you're in, you're in.  You're part of the family. The circle of trust.  We will fight vehemently on your behalf. We're Symmetrical Records. We're a new kind of music label. <a href="/pages/contact">Contact us today</a>.</p>
</div>
