<h2>Artists of Symmetrical Records</h2>
<ul class="artist_list">
  <li>
    <div class="picture">
      <img src="http://fpoimg.com/300x200"/>
    </div>
    <div class="bio">
      <h3>The Night Lights</h3>
      <p></p>
    </div>
  </li>
  <li>
    <div class="picture">
      <img src="http://fpoimg.com/300x200"/>
    </div>
    <div class="bio">
      <h3>dep</h3>
      <p></p>
    </div>
  </li>
</ul>
