<h2>Artists of Symmetrical Records</h2>
<ul class="artist_list">
  <li>
    <div class="picture">
      <img src="http://fpoimg.com/300x200"/>
    </div>
    <div class="bio">
      <h3>The Night Lights</h3>
      <p>
      Kie Cochran and Danny Peck came together in March of 2011 and, after experiencing what they called "instant flow" during their first jam session, immediately began producing their first EP.  The songs are generally a combination of Danny's sequenced beats, keys, vocals, and manipulations of other analog gadgetry, in equal parts with Kie's sweeping fx-driven guitar, electric bass, and airy vocals. Kie also regularly offers up his own musical ideas that the two build upon together, sculpting in to a finished product.</p>
      </p>
    </div>
  </li>
  <li>
    <div class="picture">
      <img src="http://fpoimg.com/300x200"/>
    </div>
    <div class="bio">
      <h3>dep</h3>
      <p>dep is the solo project of Danny Peck. His compositions are a blend of techniques involving digital/analogue sounds, field recordings, circuit bending and basic sequencing all wrapped up in to melodic explorations in electronica.</p>
      <p>Danny Peck has been releasing music under the alias "dep" since roughly 2005, but has maintained a keen interest in song-writing and recording since 1994.</p>
    </div>
  </li>
</ul>
