<h2>The Symmetrical Records FAQ</h2>
<div class="left">
  <h3>What’s your story?</h3>
  <p>We've only been around a couple of years.  Originally we organized to
  unify a couple of artists under one umbrella, but last year we thought it'd
  be cool to bring in some additional artists that fit the aesthetic that we
  have.  Since we organized, a couple of additional solo producers have started
  working on a release for us, so we thought, “Hey! This is a great opportunity
  to organize some underground artists and help us get the word out about one
  another.”</p>

  <h3>Who is your audience?</h3>
  <p>Simply: people who like good music. There so much of it out there. We like
  to think of a small label like this one as a little musical “clan,” of sorts.
  A collective. A small, agile group of passionate like-minded artists that
  think working together is more effective than working alone.  We engage
  thoughtful listeners. Our artists are diamonds in the rough. It’s our goal to
  put a little bit of light on these individuals, as they deserve to be
  heard.</p>

  <h3>So how does it work?</h3>
  <p>Perhaps you’ve been writing music for a while. Perhaps you put stuff out
  on Soundcloud or YouTube and you notice your music does pretty well.  Maybe
  you’re a little bit dissatisfied by the reach of your music, but don’t know
  how to push it to a larger audience.  We can help.</p>

  <p>You send us your best music, we have a listen, and if we think it
  resonates with our aesthetic, we’ll take things to the next level. We have a
  micro-army of experts in the various facets of online marketplaces and music
  distribution, and are happy to be of service to you.</p>

  <h3>So what’s in it for you?</h3>
  <p>First and foremost, we like helping independent artists get their music
  heard.  That said, we do have operating expenses (webhosting, distribution
  fees), but we try to keep the overhead low.  We negotiate a very small cut of
  the royalties to cover our operating costs, but we’re definitely a
  not-for-profit operation.  So, simply the feeling that we’re helping out is
  what keeps us going. We know how it feels to be an indie artist.  We know the
  frustrations that come along with trying to get your music out there and
  feeling roadblocked.  That’s the tricky thing about music.  You have to get
  people to stop what they’re doing in their very busy lives and listen.
  Making people stop is difficult. The more people that unify and say “Stop.
  Listen to this.” the more probable they are to do so.</p>

  <h3>Where will my music appear?</h3>
  <p>Well where to begin!</p>

  <ul>
    <li>iTunes (United States, United Kingdom, Anguilla, Antigua and Barbuda,
    Argentina, Armenia, Australia, Austria, Azerbaijan, Bahamas, Barbados,
    Belarus*, Belgium, Belize, Bermuda, Bolivia, Botswana, Brazil, British
    Virgin Islands, Brunei Darussalam, Brunei, Bulgaria, Cambodia, Canada, Cape
    Verde, Cayman Islands, Chile, Colombia, Costa Rica, Cyprus, Czech Republic,
    Denmark, Dominica, Dominican Republic, Ecuador, El Salvador, Estonia, Fiji,
    Finland, France, Gambia, Germany, Ghana, Greece, Grenada, Guatemala,
    Guinea-Bissau, Honduras, Hong Kong, Hungary, India*, Indonesia, Ireland,
    Israel, Italy, Japan, Kazakhstan, Kenya, Kyrgyzstan, Laos, Latvia,
    Lithuania, Luxembourg, Macau, Malaysia, Malta, Mauritius, Mexico,
    Micronesia, Moldova, Mongolia, Mozambique, Namibia, Nepal*, Netherlands,
    New Zealand, Nicaragua, Niger, Nigeria, Norway, Panama, Papua New Guinea,
    Paraguay, Peru, Philippines, Poland, Portugal, Romania, Russia, Singapore,
    South Africa, Slovakia, Slovenia, South Africa, Spain, Sri Lanka, St. Kitts
    and Nevis, Suriname, Swaziland, Sweden, Switzerland, Taiwan, Tajikistan,
    Thailand, Trinidad & Tobago, Turkey, Turkmenistan, Uganda, Ukraine,
    Venezuela, Vietnam, and Zimbabwe)</li>
    <li>Spotify</li>
    <li>Amazon MP3</li>
    <li>Google Play</li>
    <li>Rdio</li>
    <li>Deezer</li>
    <li>Xbox Music</li>
    <li>Rhapsody</li>
    <li>eMusic</li>
    <li>simfy</li>
    <li>Muve Music</li>
    <li>MySpace Music</li>
    <li>iHeartRadio</li>
    <li>Nokia</li>
    <li>MediaNet (they distribute to a number of streaming networks)</li>
    <li>VerveLife</li>
    <li>Wimp</li>
    <li>Sony Music Unlimited</li>
    <li>Gracenote</li>
    <li>Shazam</li>
  </ul>

  <h3>Do I get all of my royalties? How does that work?</h3>
  <p>Yes. We take the smallest cut possible to cover our operating expenses,
  but almost all of it goes straight to you. All of these details get hashed
  out once you sign with us, but rest assured, you do get royalties.</p>

  <h3>Do you do vinyl and/or physical releases?</h3>
  <p>We don't have any vinyl capabilities yet, but the interest is duly noted!
  We definitely focus on digital right now, so we don’t really do physical
  distributions.  One option we offer is “on-demand” CD production through
  Amazon.com.  If someone buys the album, they print off the album cover and
  handle all the shipping. So you literally don't have to do anything.</p>

  <h3>Do you offer mastering or design services as well?</h3>
  <p>We mainly focus on helping you coordinate and distribute your finished
  album.  Depending on the project and our availability on a per request basis,
  we may be able to help you with your album design, but typically artists come
  to us with this stuff already in order.</p>
</div>
