.artist_list
  :padding 0
  li
    :overflow hidden
    :zoom 1
    :list-style none
    :clear both
    :padding 20px 0
    :width 100%
    .picture, .bio
      :float left
    .picture
      img
        :margin-right 20px
        :border 1px solid #eee
        :-webkit-box-shadow 1px 2px 3px #555
        :-moz-box-shadow 1px 2px 3px #555
        :box-shadow 1px 2px 3px #555
    .bio
      :width 50%
      :text-align left
      h3
        :margin-top 0
        a
          :color #555
          :text-decoration none
      p
        :color #666
        :line-height 19px
